# Python cache
__pycache__/
*.pyc

# Local results and build artifacts
build_results/
temp_work/
builder_backup.tar

# Local cache folders
.ccache/
maven-repo/
gradle-cache/

# IDE / OS files
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Cloned repositories
crate/
druid/
elasticsearch/
hadoop/
jdk8u-dev/
jdk11u-dev/
jdk17u-dev/
jdk21u-dev/
jdk25u-dev/
graylog2-server/
graylog/
hibernate-orm/
spring-framework/
logstash/
hbase/
grpc-java/
sql/